h1 {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    
}
.container {
    display: flex;
    
}

.left-column {
    display: block;
    width: 300px;
    height: 600px;
    background-color: antiquewhite;
}

.right-column {
    flex: 1;
    display: block;
    background-color: aqua;
    position: relative;
    width: 300px;
    height: 600px;
}

#displayGrandRapids {
    display: block;
    background-color: burlywood;
    width: 200px;
    height: 200px;
}